.work__landing{
    display: grid;
    grid-template-areas:    
    "..... title title ..... ....."
    "..... text1 ..... text2 .....";
    grid-template-columns: 10.8rem 4fr 4.8rem 5fr 10.8rem;
    grid-template-rows: 13rem auto;
    width: 100%;
    margin-top: 13.5rem;
}

.work__main{
    background: rgb(250,250,250);
    background: linear-gradient(180deg, rgba(250,250,250,1) 50%, rgba(242,242,242,1) 50%);
}

.Work__subtitle{
    font-family: "Maine Regular";
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    margin: 5rem;
}

.process__landing--title{
    grid-area: title;
    font-family: "Maine Book";
    text-align: left;
    font-weight: 400;
    color: #282828;
    font-size: 4.5rem;
}

.process__landing--text1{
    grid-area: text1;
    margin-top: 3.5rem;
    text-align: left; 
    width: 80%;
}
.process__landing--text2{
    grid-area: text2;
    margin-top: 3.5rem;
    text-align: left;
    width: 40%;
}
.process__landing--text2 svg{
    margin-bottom: 1.2rem;
}
.process__landing--text2 p span{
    color: #DE5D37;
}


.threeModul{
    height: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    width: auto;
    margin-top: 8rem;   /*----- def -----*/
    margin-bottom: 4rem; /*---- def ----*/
    }

.threeModul__box {
    display: grid;
    grid-template-areas: 
    "sub img1 . img2 . img3 ind"
    ". txt1 . txt2 . txt3 .";
    grid-template-columns: 1fr 3.1fr 0.35fr 3.1fr 0.35fr 3.1fr 1fr;
    grid-template-rows: 3fr 8rem;
    height: auto;
    width: 100%;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
    }

.threeModul__txt{
    width: 95%;
    height: auto;
}
    .threeModul__txt p {
        font-family: Montserrat;
        color: #A1A1A1;
        font-style: normal;
        font-weight: 200;
        font-size: 1rem;
        line-height: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        }
    .threeModul__txt h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;
        }
        .threeModul__txt--1{
            grid-area: txt1;
        }
        .threeModul__txt--2{
            grid-area: txt2;
        }
        .threeModul__txt--3{
            grid-area: txt3;
        }

.threeModul__sub{
    grid-area: sub;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative; 
}
    .threeModul__subSvg{  
        height: 1rem;
        width: 1rem;
        position: absolute;
    }
    .threeModul__sub h4 {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #282828;
        position: absolute;
        margin-bottom: 32px;
        } 

.threeModul__img{
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    transition: 0.3s ease all;

}
.threeModul__img:hover{
    filter: grayscale(0);
}
    .threeModul__img img{
        object-fit: cover;
        height: 34rem;
        width: 100%;
    }
    .threeModul__img--1{
        grid-area: img1;
    }
    .threeModul__img--2{
        grid-area: img2;
    }
    .threeModul__img--3{
        grid-area: img3;
    }

.threeModul__ind{
    grid-area: ind;
    text-align: end;
    align-self: flex-end;
}
    .threeModul__ind p {
        font-family: 'Maine Regular'; 
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
        } 






.work {
    height: auto;
    width: 100%;
    margin-top: 11rem;   /*----- def -----*/
    margin-bottom: 11rem; /*---- def ----*/
}

.work__legendbox {
    margin-left: 4rem;
    margin-right: 4rem;
    width: auto;
    height: 100%;
}

.work__legend {
    display: grid;
    grid-template-areas: ". txt .";
    grid-template-columns: 1fr 10fr 1fr;
    height: auto;
    width: 100%;
}
.work__legend--icon {
    grid-area: txt;
    height: 2rem;
    width: 2rem;
}
.work__legend--txt {
    grid-area: txt;
    font-family: 'Maine Regular'; 
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 4.5rem;
    margin-top: 7rem;
    }
.work__legendtxtbold {
    grid-area: txt;
    font-family: 'Maine Bold Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 3.1rem;
    line-height: 4.8rem;
    }


.work__casesbox {
    background-color: #cfcada36;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: auto;
    height: 100%;
    }

.work__cases {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
    
.Work__subtitle span{
    font-family: 'Maine Extra Bold';
    text-decoration: underline;
}
.work__subtitle--icon{   /*--- def icon svg?----*/
    height: 1rem;
    width: 1rem;
    position: absolute;
}
.work__subtitle--txt {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #282828;
    position: absolute;
    margin-bottom: 32px;
    } 

.work__examplebox {
    height: auto;
    display: flex;
    gap: 2rem;
}

.work__example {
    width: auto;
    height: auto;
}
.work__example img {
    width: 350px;
    height: 550px;
    object-fit: cover;
    background-color: #282828;
}
.work__example p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    }
.work__example h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 90%;
    }
.work__read {
    background-color: #cfcada36;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 100%;
    height: auto;
}

.work__readbox {
    display: grid;
    grid-template-areas: ". txt .";
    grid-template-columns: 1fr 10fr 1fr;
    width: auto;
    height: 100%;
    }
.work__readtxt {
    grid-area: txt;
    display: flex;
    text-decoration: none;
}
.work__readicon:hover {
    transform: translate(1rem);
    transition: 1.5s;
}
.work__read a {
    font-family: 'Maine Regular'; 
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-left: 2rem;
    color: #282828;
    align-self: center;
    cursor: pointer;
    }

    
.grid{
    height: auto;    
    width: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;   /*----- def -----*/
    margin-bottom: 5rem; /*---- def ----*/
}

.grid__box{
    height: auto;    
    width: auto;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.grid__title{
    font-family: "Maine Regular";
    font-weight: 200;
    font-size: 3rem;
    margin: 7.5%;
}

.grid__img {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    grid-gap: 0.75rem;
    grid-template: 
    "img1 . img2 img3"
    "img4 . img5 ."
    ". img6 . img7"
    "img8 . img9 ."
    ". . img10 ." ;
    min-height: 1200px;
    width: auto;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
}
    .grid__img1{
        grid-area: img1;
    }
    .grid__img2{
        grid-area: img2;
    }
    .grid__img3{
        grid-area: img3;
    }
    .grid__img4{
        grid-area: img4;
    }
    .grid__img5{
        grid-area: img5;
    }
    .grid__img6{
        grid-area: img6;
    }
    .grid__img7{
        grid-area: img7;
    }
    .grid__img8{
        grid-area: img8;
    }
    .grid__img9{
        grid-area: img9;
    }
    .grid__img10{
        grid-area: img10;
    }

.grid__wrap{
    width: 100%; 
    height: 100%; 
    margin:0;
    border-radius:1rem;
    background: url(https://via.placeholder.com/480?text=Sample+img) no-repeat #e6e6e6; 
    background-size: 100%;
    background-position:center center;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
     -moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
      -ms-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
       -o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
          transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
  }
  .grid__wrap:hover{
    background-size:130%;
  }
