*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


/*========================================= FONTS ========================================= */
@font-face {
    font-family: 'Maine Bold Italic';
    src: url('./assets/Maine/Maine-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Book Italic';
    src: url('./assets/Maine/Maine-BookItalic.otf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Extra Bold Italic';
    src: url('./assets/Maine/Maine-ExtraBoldItalic.otf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Light Italic';
    src: url('./assets/Maine/Maine-LightItalic.otf');
    font-weight: lighter;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Medium Italic';
    src: url('./assets/Maine/Maine-MediumItalic.otf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Regular Italic';
    src: url('./assets/Maine/Maine-RegularItalic.otf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Light';
    src: url('./assets/Maine/Maine-Light.otf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Regular';
    src: url('./assets/Maine/Maine-Regular.otf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Extra Bold';
    src: url('./assets/Maine/Maine-ExtraBold.otf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Book';
    src: url('./assets/Maine/Maine-Book.otf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maine Medium';
    src: url('./assets/Maine/Maine-Medium.otf');
    font-style: italic;
    font-display: swap;
}

/*========================================= GENERAL ========================================= */
body{
    background-color: #FAFAFA;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}

a{
    text-decoration: none;
    color: #282828;
}
.darkSwitch{
    margin: 1rem 2rem;
    cursor: pointer;
}

.content__item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navLink{
    position: relative;
    white-space: nowrap;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #282828;
    font-weight: 500;
    letter-spacing: 0.2rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 1rem 1rem;
}

.navLink::before,
.navLink::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.navLink::before {
    content: '';
    /* show by default */
}

.navLink--under::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 2, 1);
    transition: transform 0.3s;
}

.navLink--under:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 2, 1);
}

/*========================================= NAVBAR ========================================= */
.firstNavbar{
    z-index: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 4rem;
}
ul{
    list-style-type: none;
}

.firstNavbar__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstNavbar__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondNavbar{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.secondNavbar__left{
    display: flex;
}
.secondNavbar__left svg{
    margin: 0.68rem;
}
.secondNavbar__left div{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: bottom;
}
.secondNavbar__left--location span{
    font-family: 'Maine Book Italic';
    font-style: italic;
}
.secondNavbar__left--time{
    color: #28282838;
    text-transform: uppercase;
}

div#animContainer path {
    stroke: #282828;
}

.secondNavbar__right ul{
    display: flex;
}



/* Moving background */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__elements {
    width: 100%;
    min-width: 600px;
}
.block {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
  
.block-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.blurred-bg {
    display: block;
    background: rgba(170, 196, 200, 0.01);
    backdrop-filter: saturate(180%) blur(6rem);
    -webkit-backdrop-filter: saturate(180%) blur(5rem);
    height: 63rem;
    z-index: 1;
}





/*========================================= FOOTER ========================================= */

footer{
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 8.5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-areas: 
    "..... title       title title ..... ....."
    "..... description description ..... ..... ....."
    "..... sitemap sitemap2    social based arrowUp"
    "----- copy        copy ..... ..... .....";
    grid-template-columns: 10.8rem 10rem 18rem 32rem 32rem auto;
    grid-template-rows: 10rem 15rem 12rem auto;
    background-color: #282828;
    color: #FEFBF3;
}
footer .navLink{
    color: #FEFBF3;
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
}
footer h4{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.footer__title{
    grid-area: title;
}
.footer__title h2{
    font-family: "Maine Light";
    font-size: 5.5rem;
}
.footer__title span{
    font-family: 'Maine Bold Italic';
}


.footer__description{
    grid-area: description;
    width: 60%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
}

.line{
    grid-area: -----;
    margin-left: 3rem;
}

.footer__sitemap--links{
    grid-area: sitemap;
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
    width: 80%;
}

.footer__sitemap--links2{
    grid-area: sitemap2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 45%;
}

.footer__social{
    grid-area: social;
    display: flex;
    flex-direction: column;
    width: 26%;
}


.footer__location{
    grid-area: based;
    letter-spacing: 0.1rem;
}

.footer__location svg{
    margin-bottom: 1rem;
}
.footer__location--based span{
    font-style: italic;
    font-family: 'Maine';
    font-weight: 700;
}
.footer__location--time{
    margin-top: 0.7rem;
    text-transform: uppercase;
    color: #FEFBF338;
}

.arrowUp{
    grid-area: arrowUp;
    margin: auto;
}

.copyright{
    grid-area: copy;
    margin-top: 14rem;
}



